{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>About the Video Game data</h2>
  <p>The data used in this site is from the CORGIS Dataset Project. The data contains statistics about over a thousand video games released between the years of 2004 and 2010. The playtime information was collected from crowd-sourced data on "How Long to Beat".</p>
  <p>This dataset lists a variety of information including the following: Title, Genre, Platform, Rating, Year Released, and Playtime Length. Playtime can be looked at in many different ways, and this dataset does a good job of representing each one. One way playtime can be measured is how long it takes to complete the main story. In this play style, the player only completes the main story and nothing else. Another way the game can be played is "Completionist". In this style, the player completes everything the game has to offer: main quests, side quests, collectibles and all. This play style, obviously, takes a lot more time, and that is shown in the data. In each of these playstyles, the way the player is playing is categorized into three separate categories: rushed, leisure, and average. "Rushed" is the fastest time players reported completing a certain playstyle, "Leisure" is the slowest, and "Average" is an average of each report.</p>


{% endblock %}