{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>About the Video Game data</h2>
  <p>The data used in this site is from the CORGIS Dataset Project. The data contains statistics about over a thousand video games released between the years of 2004 and 2010. The playtime information was collected from crowd-sourced data on "How Long to Beat".</p>
  <br>
  <p>This dataset lists a variety of information including the following: Title, Genre, Platform, Rating, Year Released, and Playtime Length. Playtime can be looked at in many different ways, and this dataset does a good job of </p>


{% endblock %}