{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}Info Based on Year{% endblock %}

{% block content %}
<h2><u>Info Based on Year</u></h2>
<br>
<p>Please select a year.</p>
  <form action="/yearinfo">
  <select name="year">
    {{ yearOptions }}
  </select>
  <br><br>
  <input type="submit">
  </form>
  <br>
	<p>The highest grossing video game of {{ year }} was {{ yearInfo }}, with ${{ yearInfo1 }} million.<br>The longest completionist runthrough of the year was {{ yearInfo2 }}, with an average runtime of {{ yearInfo3 }}, and the game with the longest main story was {{ yearInfo4 }}, with an average runtime of {{ yearInfo5 }} hours.</p>
{% endblock %}
