{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Video Game Info{% endblock %}

{% block content %}
<h2><u>Video Game Info</u></h2>
<br>
<p>Please select a title.</p>
  <form action="/gameinfo">
  <select name="game">
    {{ options }}
  </select>
  <br><br>
  <input type="submit">
  </form>
  <br>
	<p>{{ name }} was released on the {{ info }} in {{ info1 }}.<br>It earned ${{ info2 }} billion, and has a review score of {{ info3 }}.<br>The average "completionist" runthrough is {{ info4 }} hours, while the average time to play the main story alone is {{ info5 }}.</p>

{% endblock %}